.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mb-3 {
    margin-bottom: 3em;
}

.mt-0 {
    margin-top: 0;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.container-md {
    margin: 0 auto;
    max-width: 768px;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1em
}
.gap-2 {
    gap: 2em
}

.btn {
    padding: 1em 1.5em;
    background: rgb(255, 34, 108);
    border-radius: 0.6em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn:hover {
    background: rgb(218, 27, 91);
}

.c-white {
    color: white;
}