.quiz-creator {
    .basic-info {
        margin-bottom: 4em;
    }

    .choice-answer-input {
        background: rgb(37 35 35 / 73%);
        height: 40px;
        width: 100%;
        padding: 4px 20px 0;
        margin-bottom: 0.3em;
        color: white;
    }

    .ch-box-answer {
        height: 36px;
        width: 36px;
    }
}